.calendar {
	position: absolute;
	left: 50px;
	top: 10px;
	padding-left: 6px;
	padding-right: 6px;
	display: none;
	width: 180px;
	height: 205px;
	border: 1px solid #ccc;
	border-radius: 7px;
	-moz-box-shadow: 0 10px 15px #ccc;
	-webkit-box-shadow: 0 10px 15px #ccc;
	box-shadow: 0 10px 15px #ccc;
	z-index: 1000;
	background: #fff;
}

.opener-calendar {
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	margin-top: 1px;
	margin-left: 5px;
	text-align: center;
	background: #000;
}

.wrap-selected-date {
	text-align: center;
}

.selected-date {
	display: inline-block;
	width: 150px;
	color: #2b66dd;
	font-family: Helvetica;
	font-size: 14px;
	cursor: pointer;
	margin-top: 2px;
	height: 25px;
}

.wrap-weekdays {
	margin: 0;
	padding: 0;
}

.weekday {
	padding: 0;
	margin: 0;
	width: 23px;
	height: 23px;
	display: inline-block;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	vertical-align: bottom;
	margin-left: 2px;
}

.day-another {
	border: 1px solid #fff;
	color: #ccc;
	margin: 0;
	width: 23px;
	height: 23px;
	line-height: 23px;
	display: inline-block;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	vertical-align: middle;
}

.day {
	border: 1px solid #fff;
	margin: 0;
	width: 23px;
	height: 23px;
	line-height: 23px;
	display: inline-block;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	cursor: pointer;
	vertical-align: middle;
}

.day-wrap {

}

.month {
	border: 1px solid #fff;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	cursor: pointer;
	vertical-align: middle;
}

.month-wrap {
	/*margin-top: 20px;*/
}

.year {
	border: 1px solid #fff;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	cursor: pointer;
	vertical-align: middle;
}

.year-wrap {
	/*margin-top: 20px;*/
}

.year-another {
	color: #ccc;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	font-family: Helvetica;
	font-size: 13px;
	vertical-align: middle;
}

.decs {
	border: 1px solid #fff;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 20px;
	display: inline-block;
	text-align: left;
	font-family: Helvetica;
	font-size: 13px;
	cursor: pointer;
	vertical-align: middle;
}

.decs-wrap {
	/*margin-top: 25px;*/
	padding-left: 4px;
}

.decs-another {
	border: 1px solid #fff;
	color: #ccc;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 20px;
	display: inline-block;
	text-align: left;
	font-family: Helvetica;
	font-size: 13px;
	vertical-align: middle;
}

/*.decs*/.hover {
	border: 1px solid #b9d7fc;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #fdfeff, #edf5ff);
    background: -webkit-linear-gradient(top, #fdfeff, #edf5ff);
    background: -o-linear-gradient(top, #fdfeff, #edf5ff);
    background: -ms-linear-gradient(top, #fdfeff, #edf5ff);
    background: linear-gradient(top, #fdfeff, #edf5ff);
}

/*.decs*/.selected {
	border: 1px dotted #84acdd;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -webkit-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -o-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -ms-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: linear-gradient(top, #ebf4ff, #d1e6ff);
}

/*.year.hover {
	border: 1px solid #b9d7fc;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #fdfeff, #edf5ff);
    background: -webkit-linear-gradient(top, #fdfeff, #edf5ff);
    background: -o-linear-gradient(top, #fdfeff, #edf5ff);
    background: -ms-linear-gradient(top, #fdfeff, #edf5ff);
    background: linear-gradient(top, #fdfeff, #edf5ff);
}

.year.selected {
	border: 1px dotted #84acdd;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -webkit-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -o-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -ms-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: linear-gradient(top, #ebf4ff, #d1e6ff);
}

.month.hover {
	border: 1px solid #b9d7fc;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #fdfeff, #edf5ff);
    background: -webkit-linear-gradient(top, #fdfeff, #edf5ff);
    background: -o-linear-gradient(top, #fdfeff, #edf5ff);
    background: -ms-linear-gradient(top, #fdfeff, #edf5ff);
    background: linear-gradient(top, #fdfeff, #edf5ff);
}

.month.selected {
	border: 1px dotted #84acdd;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -webkit-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -o-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -ms-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: linear-gradient(top, #ebf4ff, #d1e6ff);
}

.day.hover {
	border: 1px solid #b9d7fc;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #fdfeff, #edf5ff);
    background: -webkit-linear-gradient(top, #fdfeff, #edf5ff);
    background: -o-linear-gradient(top, #fdfeff, #edf5ff);
    background: -ms-linear-gradient(top, #fdfeff, #edf5ff);
    background: linear-gradient(top, #fdfeff, #edf5ff);
}

.day.selected {
	border: 1px dotted #84acdd;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -webkit-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -o-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: -ms-linear-gradient(top, #ebf4ff, #d1e6ff);
    background: linear-gradient(top, #ebf4ff, #d1e6ff);
}*/

.warning {
	color: #ef3124;
}

.line {
	color: #ccc;
	margin-bottom: 2px;
	margin-top: -5px;
}

.move-left {
	display: inline-block;
	position: absolute;
	left: 0px;
	color: #2b66dd;
	cursor: pointer;
	height: 25px;
	width: 25px;
}

.move-left:hover {
	border: 1px solid #b9d7fc;
	border-top-left-radius: 5px;
	background: -moz-linear-gradient(top, #fdfeff, #edf5ff);
    background: -webkit-linear-gradient(top, #fdfeff, #edf5ff);
    background: -o-linear-gradient(top, #fdfeff, #edf5ff);
    background: -ms-linear-gradient(top, #fdfeff, #edf5ff);
    background: linear-gradient(top, #fdfeff, #edf5ff);
}

.move-right {
	display: inline-block;
	position: absolute;
	right: 0px;
	color: #2b66dd;
	cursor: pointer;
	height: 25px;
	width: 25px;
}

.move-right:hover {
	border: 1px solid #b9d7fc;
	border-top-right-radius: 5px;
	background: -moz-linear-gradient(top, #fdfeff, #edf5ff);
    background: -webkit-linear-gradient(top, #fdfeff, #edf5ff);
    background: -o-linear-gradient(top, #fdfeff, #edf5ff);
    background: -ms-linear-gradient(top, #fdfeff, #edf5ff);
    background: linear-gradient(top, #fdfeff, #edf5ff);
}
}