.calendar {
	position: absolute;
	margin-left: 10px;
	padding-left: 6px;
	padding-right: 6px;
	display: none;
	width: 180px;
	height: 205px;
	border: 1px solid #ccc;
	border-radius: 7px;
	box-shadow: 0 10px 15px #ccc;
	z-index: 1000;
	background: #fff;
}

.opener-calendar {
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	margin-top: 1px;
	margin-left: 5px;
	text-align: center;
	background: #000;
}

.wrap-selected-date {
	text-align: center;
}

.selected-date {
	font-family: Helvetica, sans-serif;
	display: inline-block;
	width: 150px;
	color: #2b66dd;
	font-size: 14px;
	cursor: pointer;
	margin-top: 2px;
	height: 25px;
}

.wrap-weekdays {
	margin: 0;
	padding: 0;
}

.weekday {
	font-family: Helvetica, sans-serif;
	padding: 0;
	margin: 0 0 0 2px;
	width: 23px;
	height: 23px;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	vertical-align: bottom;
}

.day-another {
	font-family: Helvetica, sans-serif;
	border: 1px solid #fff;
	color: #ccc;
	margin: 0;
	width: 23px;
	height: 23px;
	line-height: 23px;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	vertical-align: middle;
}

.day {
	font-family: Helvetica, sans-serif;
	border: 1px solid #fff;
	margin: 0;
	width: 23px;
	height: 23px;
	line-height: 23px;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	vertical-align: middle;
}

.day-wrap {

}

.month {
	font-family: Helvetica, sans-serif;
	border: 1px solid #fff;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	vertical-align: middle;
}

.month-wrap {
	/*margin-top: 20px;*/
}

.year {
	font-family: Helvetica, sans-serif;
	border: 1px solid #fff;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	vertical-align: middle;
}

.year-wrap {
	/*margin-top: 20px;*/
}

.year-another {
	font-family: Helvetica, sans-serif;
	color: #ccc;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	vertical-align: middle;
}

.decs {
	font-family: Helvetica, sans-serif;
	border: 1px solid #fff;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 20px;
	display: inline-block;
	text-align: left;
	font-size: 13px;
	cursor: pointer;
	vertical-align: middle;
}

.decs-wrap {
	/*margin-top: 25px;*/
	padding-left: 4px;
}

.decs-another {
	font-family: Helvetica, sans-serif;
	border: 1px solid #fff;
	color: #ccc;
	margin: 0;
	width: 42px;
	height: 40px;
	line-height: 20px;
	display: inline-block;
	text-align: left;
	font-size: 13px;
	vertical-align: middle;
}

.hover {
	border: 1px solid #b9d7fc;
	border-radius: 5px;
    background: linear-gradient(top, #fdfeff, #edf5ff);
}

.selected {
	border: 1px dotted #84acdd;
	border-radius: 5px;
    background: linear-gradient(top, #ebf4ff, #d1e6ff);
}

.warning {
	color: #ef3124;
}

.line {
	color: #ccc;
	margin-bottom: 2px;
	margin-top: -5px;
}

.move-left {
	display: inline-block;
	position: absolute;
	left: 0;
	color: #2b66dd;
	cursor: pointer;
	height: 25px;
	width: 25px;
}

.move-left:hover {
	border: 1px solid #b9d7fc;
	border-top-left-radius: 5px;
    background: linear-gradient(top, #fdfeff, #edf5ff);
}

.move-right {
	display: inline-block;
	position: absolute;
	right: 0;
	color: #2b66dd;
	cursor: pointer;
	height: 25px;
	width: 25px;
}

.move-right:hover {
	border: 1px solid #b9d7fc;
	border-top-right-radius: 5px;
    background: linear-gradient(top, #fdfeff, #edf5ff);
}
